@-webkit-keyframes fadeIn_1 {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn_1 {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn_2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn_2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn_3 {
  0% {
    -webkit-transform: translateY(none);
            transform: translateY(none);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(None);
            transform: translateY(None);
    opacity: 1;
  }
}

@keyframes fadeIn_3 {
  0% {
    -webkit-transform: translateY(none);
            transform: translateY(none);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(None);
            transform: translateY(None);
    opacity: 1;
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes up {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: sandybrown;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

a {
  color: sandybrown;
  text-decoration: none;
}

img {
  width: 100%;
}

/*
.class{
align-items: center;
background-image: linear-gradient(to right, #054f7d, #00a7cf, #efe348, #861a54, #054f7d);
background-size: 600%;
background-position: 0 0;
box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5);

display: flex;
font-family: 'Lato', Arial, sans-serif;
height: 100%;
justify-content: center;
======= Animation ========= 
animation-duration: 20s;
animation-iteration-count: infinite;
animation-name: gradients;
}

@keyframes gradients {
0% { background-position: 0  0; }
25% { background-position:50% 0; }
50% { background-position:90% 0; }
60% { background-position:60%;   }
75% { background-position:40%;   }
100% { background-position: 0  0; }
}*/
@keyframes fadeIn_1 {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn_2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn_3 {
  0% {
    -webkit-transform: translateY(none);
            transform: translateY(none);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(None);
            transform: translateY(None);
    opacity: 1;
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes up {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

html, body {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(5, 0, 33, 0.7))), url("../assets/img/titanic/14.jpg");
  background: linear-gradient(0deg, rgba(5, 0, 33, 0.7)), url("../assets/img/titanic/14.jpg");
  background-size: cover;
}

.container {
  margin: 150px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main {
  margin: 150px 0 0;
}

.container .main__sub {
  font-size: 15px;
  letter-spacing: 30px;
  text-transform: uppercase;
  -webkit-animation: fadeIn_2 2s 3s ease-out forwards;
          animation: fadeIn_2 2s 3s ease-out forwards;
  opacity: 0;
}

.container .main__title {
  font-size: 15px;
  font-weight: 10px;
  letter-spacing: 3px;
  display: inline;
  -webkit-animation: fadeIn_3 2s 2s ease-out forwards;
          animation: fadeIn_3 2s 2s ease-out forwards;
  opacity: 0;
}

.container .main__content {
  margin: 30px 0 0;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 90px;
}

.container .main__content div {
  -webkit-animation: fadeIn_1 2s ease-out forwards;
          animation: fadeIn_1 2s ease-out forwards;
  opacity: 0;
}

.container .main__content a {
  padding: 10px;
  color: wheat;
  background: -webkit-gradient(linear, left top, left bottom, from(#104b79), to(#030f18));
  background: linear-gradient(#104b79, #030f18);
  border-radius: 15px;
  -webkit-animation: fadeIn_3 2s 4s ease-out forwards;
          animation: fadeIn_3 2s 4s ease-out forwards;
  opacity: 0;
}
/*# sourceMappingURL=index_1.css.map */