html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background: url(https://raw.githubusercontent.com/owlypixel/Text_reveal_animation/master/Project-snapshots/1-starter/images/rabbit_bg.png);
  background-size: cover;
  font: 36px/1.2 'Open Sans', sans-serif;
}

#app {
  position: relative;
}

#app:after {
  display: block;
  content: '';
  position: absolute;
  border-left: 10px solid #FFCA00;
  left: 1.528em;
  top: 50%;
  width: 0.278em;
  height: 60%;
  -webkit-transform: translateY(-50%) scaleY(0);
          transform: translateY(-50%) scaleY(0);
  -webkit-animation: left-border-expand .8s;
          animation: left-border-expand .8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.ui-slide-in {
  width: 720px;
  height: 126px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 20px 20px 20px 65px;
  -webkit-animation: ui-slide-in-move 1.25s;
          animation: ui-slide-in-move 1.25s;
  -webkit-animation-timing-function: cubic-bezier(0.03, 0.98, 0.5, 1);
          animation-timing-function: cubic-bezier(0.03, 0.98, 0.5, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.ui-slide-in .text-wrapper {
  text-transform: uppercase;
  padding-left: 0.556em;
  overflow: hidden;
}

.line {
  opacity: 0;
  -webkit-animation: word-line-slide-out .25s forwards;
          animation: word-line-slide-out .25s forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.line:nth-child(1n) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.line:nth-child(2n) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.line span {
  display: inline-block;
  height: 43.2px;
}

.yellow {
  color: #FFCA00;
}

.black {
  font-weight: 800;
}

.thin {
  font-weight: 300;
}

@-webkit-keyframes ui-slide-in-move {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
  }
}

@keyframes ui-slide-in-move {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
  }
}

@-webkit-keyframes left-border-expand {
  100% {
    -webkit-transform: translateY(-50%) scaleY(1);
            transform: translateY(-50%) scaleY(1);
  }
}

@keyframes left-border-expand {
  100% {
    -webkit-transform: translateY(-50%) scaleY(1);
            transform: translateY(-50%) scaleY(1);
  }
}

@-webkit-keyframes word-line-slide-out {
  0% {
    -webkit-transform: translateX(-10vw);
            transform: translateX(-10vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    opacity: 1;
  }
}

@keyframes word-line-slide-out {
  0% {
    -webkit-transform: translateX(-10vw);
            transform: translateX(-10vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    opacity: 1;
  }
}
/*# sourceMappingURL=textReveal.css.map */