@import './reset';
@import './variables';

.footer{
    padding: 20px 300px;
    width: 100vw;
    font-size: nth($fs, 1);
    display: flex;
    justify-content: space-between;
    animation: fadeIn_3 2s 1s ease-out forwards;
    opacity: 0;

    &__content{
        opacity: .8;
        justify-content: flex-start;
    }
    &__my_name{
        opacity: .8;  
    }
}
