@import './reset';
@import './variables';

html, body{
    background: linear-gradient(0deg, rgba(26, 18, 2, 0.774)), url('../assets/img/titanic/12.jpg');
    background-size: cover;
    // transition: 2s 2s linear;
}

#page_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;

    .main{
        // margin: 150px 0 0;
        &__sub{
            font-size: nth($fs, 2);
            letter-spacing: 30px;
            text-transform: uppercase;
            animation: fadeIn_2 2s 3s ease-out forwards;
            opacity: 0;
            
        }
        &__title{
            font-size: nth($fs, 2);
            font-weight: nth($fs, 1);
            letter-spacing: 3px;
            // background: rgb(105, 130, 243);
            display: inline;
            animation: fadeIn_3 2s 2s ease-out forwards;
            opacity: 0;
            
        }
        &__content{
            margin: 30px 0 0;
            font-size: nth($fs, 5);
            font-weight: nth($fw, 3);
            text-transform: uppercase;
            line-height: 90px;
            div{
                animation: fadeIn_1 2s ease-out forwards;
                opacity: 0;
            }
            span{
                padding:10px;
                color: rgba(1, 5, 8, .7);
                background: linear-gradient(#f4a460, #01060ad5);
                border-radius: 15px;
                animation: fadeIn_3 2s 4s ease-out forwards;
                opacity: 0;
                cursor: pointer;
                user-select: none;

            }
        }
    }
}

.pre_page_2{
    text-transform: uppercase;
    color: $color;
    font-size: nth($fs, 5);
    display: none;
    justify-content: center;
    align-items: center;
}

#page_2 , #pre_img_page_2{
    display: none;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 1s;

    
}

#page_2 img{display: none;}

img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#page_2_{
    display: none;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;

}


#page_3{
    display: none;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
    // transition: 2s;
    &::before{
        content: '1$';
        font-size: 250px;
        font-weight: 600;
        opacity: .05;
        position: absolute;
        left:30%;
        }
}

#page_5{
    display: none;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: fadeIn_3 2s 4s ease-out forwards;
    opacity: 0;
    margin: 30px 0 0;
    font-size: nth($fs, 5);
    font-weight: nth($fw, 3);
    text-transform: uppercase;
    line-height: 90px;
    transition: 2s;
    #ready{
        padding:10px;
        color: rgba(1, 5, 8, .7);
        background: linear-gradient(#f4a460, #01060ad5);
        border-radius: 15px;
        // animation: fadeIn_3 2s 4s ease-out forwards;
        // opacity: 0;
        cursor: pointer;
        user-select: none;

    }
}

#page_6{
    display: none;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
    &__container{
        width: 50%;
        margin: auto;
        .go{
            cursor: pointer;
            padding:10px;
            background: black;
            color:$color;

            

        }
        .input{
            width: 100%;
            height: 30px;
            transition: 1s;
            color: $color;
            font-size: 18px;
            letter-spacing: 2px;
            border: none;
            border-bottom: .5px solid $color;
            background: none;
            text-align: left;
            &:focus{
                outline: none;
            }
            &:focus::placeholder{
                padding: 800px;
            }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            &[type=number] {
            -moz-appearance: textfield;
            }
            &::placeholder{
                transition: .3s ease-out;
                text-align: left;
                color:rgba(250, 252, 251, 0.2);
                font-size: 13px;
                letter-spacing: 2px;
                font-weight: 100;
                // animation: up 1s ease-out;
            }

        }
    }
    .label{
        text-align: left;
        margin-top: 10px;
        opacity: 0;
        font-size: nth($fs, 3);
        animation: down .3s ease-out forwards;
    }
}


#page_7{
    display: none;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#page_8{
    display: none;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#page_8_{
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#page_9{
    display: none;
    width: 80%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    div:first-child{
        font-size: nth($fs, 4);
        animation: fadeIn_2 2s ease-out forwards;
        span{
            font-size: nth($fs, 2 );
            font-style: italic;
        }
    }
    div:nth-child(2) span{
        margin: 0 10px;
        font-size: 100px;
        font-weight: nth($fw, 2);
        opacity: 0;
        padding:20px 40px;
        color: rgba(1, 5, 8, .7);
        background: linear-gradient(#f4a460, #01060ad5);
        border-radius: 15px;
        // animation: fadeIn_3 2s 4s ease-out forwards;
        // opacity: 0;
        cursor: pointer;
        user-select: none;
        &:nth-child(1){
        animation: fadeIn_2 2s 1s ease-out forwards;}
        &:nth-child(2){
        animation: fadeIn_3 2s 2s ease-out forwards;}
        &:nth-child(3){
        animation: fadeIn_3 2s 3s ease-out forwards;}
    }
}

#page_10{
    display: none;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
}





.footer{
    padding: 20px 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $color;
    width: 100vw;
    font-size: nth($fs, 1);
    display: flex;
    justify-content: space-between;
    animation: fadeIn_3 2s 1s ease-out forwards;
    opacity: 0;

    &__content{
        opacity: .5;
        justify-content: flex-start;
    }
    &__my_name{
        opacity: .5;  
    }
}
